<style>
  .datepicker {
    width: inherit;
  }
</style>
<div class="inner-page-banner">
  <div class="breadcrumb-vec-btm">
    <%= image_tag "bg/inner-banner-btm-vec.png" %>
  </div>
  <div class="container">
    <div class="row justify-content-center align-items-center text-center">
      <div class="col-lg-6 align-items-center">
        <div class="banner-content">
          <h1>Booking</h1>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="banner-img d-lg-block d-none">
          <div class="banner-img-bg">
            <%= image_tag "cards/active-bg.jpg" %>
          </div>
            <%= image_tag "cards/active-bg.jpg" %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="services-details-area pt-120 mb-120">
  <div class="container">
    <div class="row mb-120">
      <div class="col-lg-12">
        <div
          class="nav nav2 nav nav-pills"
          id="v-pills-tab2"
          role="tablist"
          aria-orientation="vertical"
        >
          <button
            class="nav-link active"
            id="v-pills-home-tab"
            data-bs-toggle="pill"
            data-bs-target="#v-pills-home"
            type="button"
            role="tab"
            aria-controls="v-pills-home"
            aria-selected="false"
          >
            Description
          </button>
          <button
            class="nav-link"
            id="v-pills-profile-tab"
            data-bs-toggle="pill"
            data-bs-target="#v-pills-profile"
            type="button"
            role="tab"
            aria-controls="v-pills-profile"
            aria-selected="true"
          >
            Booking
          </button>
          <button
            class="nav-link"
            id="v-pills-common-tab"
            data-bs-toggle="pill"
            data-bs-target="#v-pills-common"
            type="button"
            role="tab"
            aria-controls="v-pills-common"
            aria-selected="true"
          >
            Booking History
          </button>
        </div>

        <div class="tab-content tab-content2" id="v-pills-tabContent2">
          <div
            class="tab-pane fade active show"
            id="v-pills-home"
            role="tabpanel"
            aria-labelledby="v-pills-home-tab"
          >
            <div class="description">
              <p class="para-2 mb-3">
                Our pet care service is one of the leading addresses for pet hotels, pets, dogs and cats in Vietnam. Currently we have 3 types of rooms for customers to choose from:
                <br/>
                <b style="color: red;">Apartment room</b> <br/>
                <b style="color: red;">VIP room</b> <br/>
                <b style="color: red;">Penthouse room</b> <br/>
                
              </p>
            </div>
            <div class="row g-lg-4 gy-5">
              <div class="col-lg-6">
                <div class="accordion" id="accordionExample">
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                      <button
                        class="accordion-button"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapseOne"
                        aria-expanded="true"
                        aria-controls="collapseOne"
                      >
                        01. Apartment room for pets
                      </button>
                    </h2>
                    <div
                      id="collapseOne"
                      class="accordion-collapse collapse show"
                      aria-labelledby="headingOne"
                      data-bs-parent="#accordionExample"
                      style="visibility: inherit;"
                    >
                      <div class="accordion-body">
                        <p>This is the cheapest hotel room for dogs and cats at Pet Paradise, a basic room model with powder-coated iron cages, comfortable accommodation, and full dining facilities.</p>

                        <p>The above hotel price includes all-inclusive expenses for one day:</p>

                        <ul style="list-style-type: circle;">
                          <li>
                            Diet: 2 meals/day. Food can be rice, meat, vegetables that are hygienic, scientific or dry food, imported ANF seeds.
                          </li>
                          <li>
                            Exercise: Dogs and cats will be allowed to exercise for more than 1 hour a day.
                          </li>
                          <li>
                            Cleaning: After 5 days, the pet will be cleaned and bathed by Pet Paradise staff for free. For pet rooms, we will clean every 3 days to ensure cleanliness.
                          </li>
                          <li>
                            There is an air-conditioned room, which helps pets keep their body temperature stable.
                          </li>
                          <li>
                            There is heating in winter.
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                      <button
                        class="accordion-button collapsed"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo"
                        aria-expanded="false"
                        aria-controls="collapseTwo"
                      >
                        02. VIP room to keep pets
                      </button>
                    </h2>
                    <div
                      id="collapseTwo"
                      class="accordion-collapse collapse"
                      aria-labelledby="headingTwo"
                      data-bs-parent="#accordionExample"
                      style="visibility: inherit;"
                    >
                      <div class="accordion-body">
                        <p>The highlight of this Pet Hotel room type is a wooden room with a cozy, clean and airy space, bringing comfort to your cat.</p>
                        <p>The price list of this room type includes all expenses for a pet's day at Pet Paradise:</p>

                        <ul style="list-style-type: circle;">
                          <li>
                            Facilities: room with bowls, utensils, accommodation in addition to toys and toilet trays.
                          </li>
                          <li>
                            Diet: 2 meals/day. The diet can be either rice with meat or vegetables or quality ANF grains imported from Korea.
                          </li>
                          <li>
                            Exercise: Dogs and cats are exercised about 1-2 hours/day at Pet Paradise's playground.
                          </li>
                          <li>
                            Cleaning: Room will be cleaned and sanitized every 1 hour. Besides, your pet will be bathed every 3 days.
                          </li>
                          <li>
                            There is air conditioning, ensuring the pet's body temperature is maintained at 26 - 28 degrees.
                          </li>
                          <li>
                            In winter, the room will be heated.
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree">
                      <button
                        class="accordion-button collapsed"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapseThree"
                        aria-expanded="false"
                        aria-controls="collapseThree"
                      >
                        03. Penhouse room to keep cats and dogs
                      </button>
                    </h2>
                    <div
                      id="collapseThree"
                      class="accordion-collapse collapse"
                      aria-labelledby="headingThree"
                      data-bs-parent="#accordionExample"
                      style="visibility: inherit;"
                    >
                      <div class="accordion-body">
                        <p>This is a 2-storey wooden dog and cat hotel room with stairs. Make your pet feel at home in the comfort of their own home.</p>
                        <p>Inside is full of food, eating and drinking bowls, toilet trays, beds and mattresses for dogs and cats.</p>
                        <p>The price list of Pet Paradise dog and cat hotel with the above Penthouse room type has all the costs for one day including:</p>

                        <ul style="list-style-type: circle;">
                          <li>
                            Diet: 3 meals/day, including 2 main meals + 1 snack. The main meal consists of ANF grain dry food. Snacks guests choose: cheese, calcium supplements or teeth cleaning rewards.
                          </li>
                          <li>
                            Cleaning: Pets that are kept at Pet Paradise will be given a full cleaning bath every 2 days. In addition, the room is cleaned continuously when they have just finished going to the bathroom to ensure the room is always clean and beautiful.
                          </li>
                          <li>
                            Exercise: Walk around the shop and have outdoor activities at the playground.
                          </li>
                          <li>
                            Air Conditioning: Always make sure your pet's body temperature is maintained at a constant level with air conditioning and heating systems
                          </li>
                          <li>
                            Camera: For customers who want to monitor the rest room when sending dogs and cats, we provide Camera service with a fee of 200,000 VND / day for guests to easily monitor.
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="services-dt-img">
                  <img
                    class="img-fluid"
                    src="assets/images/bg/services-dt-immg.png"
                    alt=""
                  />
                </div>
              </div>
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="v-pills-profile"
            role="tabpanel"
            aria-labelledby="v-pills-profile-tab"
          >
            <div class="description">
              <div class="form-wrap box--shadow mb-30"></div>
              <%= form_for Booking.new, url: bookings_path, data: { turbo:
              false, remote: false}, method: :post do |f| %>
              <div class="row">
                <div class="col s2">
                  <label for="r_type">Room type</label>
                  <br />
                  <%= select_tag :r_type,
                  options_for_select(Room.r_types.keys.map{|type|
                  [type.humanize, type]}) %>
                </div>
                <div class="col s2">
                  <label for="weight">Weight</label>
                  <br />
                  <%= select_tag :weight,
                  options_for_select(Room.weights.keys.map{|type|
                  [weight_text(type), type]}) %>
                </div>
                <div class="col s2">
                  <label for="quantity">Quantity</label>
                  <br />
                  <%= number_field_tag :quantity, {}, class: "form-control", style: "width: 100px; height: 42px" %>
                </div>

                <div class="col s3">
                  <label for="started_at">Started at</label>
                  <div class="input-group date">
                    <%= f.text_field :started_at, class: "form-control", style:
                    "height: 42px", autocomplete: 'off', required: true %>
                    <div class="input-group-addon">
                      <span class="glyphicon glyphicon-th"></span>
                    </div>
                  </div>
                </div>
                <div class="col s3">
                  <label for="finished_at">Finished at</label>
                  <div class="input-group date">
                    <%= f.text_field :finished_at, class: "form-control", style:
                    "height: 42px", autocomplete: 'off', required: true %>
                    <div class="input-group-addon">
                      <span class="glyphicon glyphicon-th"></span>
                    </div>
                  </div>
                </div>
                <div class="place-order-btn s2 offset-10 mt-5">
                  <button type="submit" class="primary-btn3 btn-lg">
                    Submit
                  </button>
                </div>
                <% end %>
              </div>
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="v-pills-common"
            role="tabpanel"
            aria-labelledby="v-pills-common-tab"
          >
            <div class="reviews-area">
              <div class="row g-lg-4 gy-5">
                <div class="col-lg-12">
                  <div class="number-of-review">
                    <h3>Booking History:</h3>
                  </div>
                  <div class="review-list-area">
                    <ul class="review-list">
                      <% current_user.bookings.order(created_at: :desc).each do
                      |booking| %>
                      <li>
                        <div
                          class="single-review d-flex justify-content-between flex-md-nowrap flex-wrap"
                        >
                          <div class="review-content">
                            <div class="c-header d-flex align-items-center">
                              <div class="review-meta">
                                <h5 class="mb-0">
                                  <a href="#"
                                    ><%= number_to_currency(booking.room.price,
                                    unit: "VND", format: "%n %u", precision: 0)
                                    %></a
                                  >
                                </h5>
                                <div class="c-date">
                                  <%= booking.created_at.strftime("%d/%m/%Y") %>
                                </div>
                              </div>
                              <% if booking.started_at.strftime("%d/%m/%Y") >= Time.now.strftime("%d/%m/%Y") %>
                              <div class="replay-btn">
                                <!-- <a href="#"><i class="bi bi-pencil"></i>Edit</a> -->
                                <%= link_to booking_path(booking), data: { turbo: true, turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
                                  <i class="bi bi-x-octagon"></i>Cancel
                                <% end %>
                              </div>
                              <% end %>
                            </div>
                            <div class="c-body">
                              <p>
                                You have booked <b><%= booking.quantity %></b> room type
                                <b><%= booking.room.r_type.humanize %></b> for
                                pet
                                <b><%= weight_text(booking.room.weight) %></b>
                                from
                                <b
                                  ><%=
                                  booking.started_at.strftime("%d/%m/%Y")%></b
                                >
                                to
                                <b
                                  ><%= booking.finished_at.strftime("%d/%m/%Y")
                                  %></b
                                >
                              </p>
                            </div>
                          </div>
                        </div>
                      </li>
                      <% end %>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<script>
  $(document).ready(function () {
    //Start date and end date
    var start = new Date();

    $("#booking_started_at")
      .datepicker({
        dateFormat: "dd/mm/yy",
        minDate: start,
        todayHighlight: true,
        autoclose: true,
        // update "toDate" defaults whenever "fromDate" changes
      })
      .on("change", function () {
        console.log(123);
        // set the "toDate" start to not be later than "fromDate" ends:
        $("#booking_finished_at").datepicker({
          dateFormat: "dd/mm/yy",
          minDate: $("#booking_started_at").val(),
        });
      });
  });
</script>
