<% unless current_user && current_user.has_role?(:admin) %>
  <!-- ========== Hero Style3 Start============= -->
  <div class="hero3 mb-90">
    <div class="background-text">
      <h2 class="marquee_text">
        <%= image_tag "icon/marque-foot.svg" %>
        <span>Get exciting Discount</span> Up To 50%
        <%= image_tag "icon/marque-foot.svg" %><span>On Your first buying</span> Up To 50%</h2>
    </div>
    <div class="swiper hero3-slider">
      <div class="swiper-wrapper">
        <% Product.limit(3).each do |product| %>
          <div class="swiper-slide">
            <div class="hero-wrapper">
              <div class="container">
                <div class="row align-items-center">
                  <div class="col-lg-6">
                    <div class="banner-content">
                      <h6>Limited Offer</h6>
                      <h1><%= product.name %></h1>
                      <div class="btn-group">
                        <a class="primary-btn5 btn-md" href="<%= shop_path %>">Shop Now</a>
                        <a class="primary-btn6" href="<%= shop_detail_path(product.id) %>">View Details</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6 d-flex justify-content-end">
                    <div class="hero-img">
                      
                      <%= image_tag product.image_url %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="right-sidebar">
      <div class="slider-pagination-area">
        <div class="h3-hero-slider-pagination"></div>
      </div>
    </div>
  </div>
  <!-- ========== Hero Style3 Start============= -->
  <!-- ========== Home3 Categories Start============= -->
  <div class="home3-categoty-area pt-120 mb-120">
    <div class="container">
      <div class="row mb-60">
        <div class="col-lg-12 d-flex align-items-center justify-content-between flex-wrap gap-3">
          <div class="section-title3">
            <h2><%= image_tag "icon/h3-sec-tt-vect-left.svg" %><span>Browse By Categories</span><%= image_tag "icon/h3-sec-tt-vect-right.svg" %></h2>
          </div>
          <div class="slider-btn-wrap">
            <div class="slider-btn prev-btn-11">
              <i class="bi bi-arrow-left"></i>
            </div>
            <div class="slider-btn next-btn-11">
              <i class="bi bi-arrow-right"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 d-flex justify-content-center">
          <div class="swiper h3-category-slider">
            <div class="swiper-wrapper">
              <% Product.categories.each do |ca| %>
              <div class="swiper-slide">
                <div class="category-card">
                  <a href="shop.html" class="category-card-inner">

                    <div class="category-card-front">
                      <div class="category-icon">
                        <%= image_tag "icon/#{ca[0] == "small_animal" ? "Rabbit" : ca[0]}.svg" %>
                      </div>
                      <div class="content">
                        <h4><%= ca[0].humanize %> Supplies</h4>
                      </div>
                    </div>
                    <div class="category-card-back">
                      <%= image_tag "bg/h3-category-1.png" %>
                    </div>
                  </a>
                </div>
              </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ========== Home3 Categories End============= -->

  <!-- ========== Home3 Colection Start============= -->
  <div class="home3-collection-area mb-120">
    <div class="container">
      <div class="row mb-60">
        <div class="col-lg-12 d-flex align-items-center justify-content-between flex-wrap gap-3">
          <div class="section-title3">
            <h2><%= image_tag "icon/h3-sec-tt-vect-left.svg" %><span>Find Pet Collections</span><%= image_tag "icon/h3-sec-tt-vect-right.svg" %></h2>
          </div>
          <div class="h3-view-btn d-md-flex d-none">
            <a href="shop.html">View All Product<%= image_tag "icon/haf-button-2.svg" %></a>
          </div>
        </div>
      </div>
      <div class="row g-4 justify-content-center">
        <% Product.limit(3).each do |product| %>
        <div class="col-lg-3 col-md-4 col-sm-6">
          <div class="collection-card">
            <div class="offer-card sale">
              <span>Hot Sale</span>
            </div>
            <div class="collection-img">
              <%= image_tag product.image_url, style: "height: 168px;object-fit: contain;" %>
              <div class="view-dt-btn">
                <div class="plus-icon">
                  <i class="bi bi-plus"></i>
                </div>
                <a href="<%= shop_detail_path(product.id)%>">View Details</a>
              </div>
              <ul class="cart-icon-list">
                <%= form_for Cart.new, url: carts_path, data: { turbo: true }, html: {id: "add_to_cart_#{product.id}"}, method: :post do |f| %>
            <%= f.hidden_field :product_id, value: product.id %>
            <%= f.hidden_field :user_id, value: current_user&.id %>
            <button type="submit"><a><%= image_tag "icon/Icon-cart3.svg" %></a></button>
          <% end %>
              </ul>
            </div>
            <div class="collection-content text-center">
              <h4><a href="shop-details.html"><%= product.name%></a></h4>
              <div class="price">
                <h6><%= number_to_currency(product.price,
                  unit: "VND", format: "%n %u", precision: 0) %></h6>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      </div>
      <div class="row d-md-none d-block pt-30">
        <div class="col-lg-12 d-flex justify-content-center">
          <div class="h3-view-btn">
            <a href="<%= shop_path %>">View All Product<%= image_tag "icon/haf-button-2.svg" %></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ========== Home3 Blog End============= -->
<% end %>