<aside class="left-sidebar">
  <ul id="slide-out" class="sidenav">
    <li>
      <ul class="collapsible">
        <li>
          <a href="javascript: void(0);" class="collapsible-header has-arrow"><i class="material-icons">group</i><span class="hide-menu"> Users</span></a>
          <div class="collapsible-body">
            <ul>
              <li><a href="<%= users_path %>"><i class="material-icons">group</i><span class="hide-menu"> Users List</span></a></li>
              <li><a href="<%= new_user_path %>"><i class="material-icons">group_add</i><span class="hide-menu"> New User</span></a></li>
            </ul>
          </div>
        </li>
        <li>
          <a href="javascript: void(0);" class="collapsible-header has-arrow"><i class="material-icons">shopping_basket</i><span class="hide-menu"> Products</span></a>
          <div class="collapsible-body">
            <ul>
              <li><a href="<%= products_path %>"><i class="material-icons">list</i><span class="hide-menu"> Products List</span></a></li>
              <li><a href="<%= new_product_path %>"><i class="material-icons">add_to_photos</i><span class="hide-menu"> New Product</span></a></li>
            </ul>
          </div>
        </li>
        <li>
          <a href="javascript: void(0);" class="collapsible-header has-arrow"><i class="material-icons">payment</i><span class="hide-menu"> Bills</span></a>
          <div class="collapsible-body">
            <ul>
              <li><a href="<%= bills_path %>"><i class="material-icons">list</i><span class="hide-menu"> Bills</span></a></li>
            </ul>
          </div>
        </li>
      </ul>
    </li>
  </ul>
</aside>
